<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	      http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
    <display-name>Planner Web Application</display-name>
    <servlet>
        <servlet-name>planner-servlet</servlet-name>
        <servlet-class>com.mika.assesment.servlet.PlannerServlet</servlet-class>
        <init-param>
            <param-name>config.name</param-name>
            <param-value>config.properties</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>exportReport</servlet-name>
        <servlet-class>com.mika.assesment.servlet.ExportReportServlet</servlet-class>
        <init-param>
            <param-name>config.name</param-name>
            <param-value>config.properties</param-value>
        </init-param>
        <init-param>
            <param-name>jasper.template</param-name>
            <param-value>jasper_report_template.jasper</param-value>
        </init-param>
    </servlet>


    <servlet-mapping>
        <servlet-name>planner-servlet</servlet-name>
        <url-pattern>/planner-servlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>exportReport</servlet-name>
        <url-pattern>/export-report</url-pattern>
    </servlet-mapping>

</web-app>